*~

doc/dev/devguide.dvi

doc/dev/*.aux
doc/dev/*.out
doc/dev/*.pdf
doc/dev/*.log
doc/dev/*.toc
doc/dev/*.synctex.gz
doc/dev/*.dvi
doc/dev/chapters/*.log

doc/html/
doc/latex/

download
integration/buildbot
output/*
.kdev4/
config.cmake
simol.kdev4

build

launcher_cluster_*
